<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <style>
      .clicks {
        margin-right: 5px;
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.5);
      }

      .clicks:hover {
        color: aliceblue;
      }
    </style>
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(!user){ %>
      <form action="/login" method="get">
        <button class="clicks">Login</button>
      </form>
      <form action="/register" method="GET">
        <button class="clicks">Register</button>
      </form>
      <% } else {%>
        <p>

        <form action="/logout" method="POST">
          <span>Logged in as: <%= user.email %> </span>
          <button class="red">logout</button>
        </form>
        </p>
        <% } %>
  </nav>
</header>